<div class="results-page">

<!-- THIS PAGE IS TO RETURN THE RESULT FILTERED BY SPECIFIC TAG
WILL BE VERY LIKE MAIN INDEX -->

<h1>Here are your filtered results:</h1>

<p>REMEMBER to track your spending, don't keep your head in the sand!</p>

<p>Total Amount of filtered transactions: <%= @value%></p>

</div>

<div class="results-table">


  <table>
    <tr>
      <th>Merchant Name</th>
      <th>Transaction Value (£)</th>
    </tr>
    <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.merchant_name()%></td>
      <td><%= transaction.transaction_value()%></td>
    </tr>
    <% end %>

  </table>

</div>
