<!-- HOME PAGE USED TO WELCOME USER, NO REAL FUCNTIONALITY YET IF YOU GET A CHANCE ADD THE USER NAME TO THE PAGE -->

<div class="home">

<h1>Welcome to your Money MGMT web app</h1>

<h2>The app that keeps your spending in check</h2>

<p>Please use the buttons above to naviagate through the app</p>
</div>

<div class="small-print">
<p> Money MGMT app is not responsible for any unaranged overdraft fees, any late payment fees or any charges incurred by use of this app.</p>

</div>
