<!-- HOME PAGE USED TO WELCOME USER, NO REAL FUCNTIONALITY YET IF YOU GET A CHANCE ADD THE USER NAME TO THE PAGE -->

<div class="home">

  <% for use in @user %>

<h1>Welcome <%= use.name %> to your Money MGMT web app</h1>
<h3>You have set your budget to <%= use.budget%></h3>
<h3>The app that keeps your spending in check</h3>

<p>Please use the buttons above to naviagate through the app</p>
<% end %>
</div>

<div class="small-print">
<p> Money MGMT app is not responsible for any unaranged overdraft fees, any late payment fees or any charges incurred by use of this app.</p>

</div>
