<h2 class="index">Here is a list of all current transactions on your account:</h2>


<h3 class="index">Current Expenditure: <%= @value%></h3>

<!-- MAIN PAGE, REMEMBER TO ADD POUND SIGNS!! -->

<div class="container">
  <table>
    <tr>
      <th>Merchant Name</th>
      <th>Transaction Value (£)</th>
      <th></th>
    </tr>
    <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.merchant_name()%></td>
      <td><%= transaction.transaction_value()%></td>

      <td><a href="/transactions/<%= transaction.id %>">Show Transaction</a></td>
      <% end %>
    </tr>
  </table>
</div>

<h4 class="index">Remember to always stay on top of your finances as spending more than you earn can lead to debt and can affect your credit rating</h4>
