<h2>A list of all transactions logged for your account</h2>

<p><a href="/transactions/tag">Click here</a> if you want to filter by transaction tag</p>

<% @transactions.each do |transaction| %>

<p>Merchant Name: <%= transaction.merchant_name()%></p>
<p>Transaction Value: <%= transaction.transaction_value()%></p>

<p><a href="/transactions/<%= transaction.id %>">Show Transaction</a></p>
<% end %>
<h3>Total Amount of Transactions: <%= @value%></h3>
