<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Money MGMT</title>
  <link rel="icon" href="/logo.png" />
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">

</head>


<header class="header">
  <img class="logo" src="/logo.png" alt="logo" width="300px" height="150px">
  <div class="nav-bar">
    <nav>
      <ul>
        <li><a href="/transactions">View Tranx</a></li>
        <li><a href="/transactions/new">New Tranx</a></li>
        <li><a href="/transactions/tag">Filter</a></li>
      </ul>
    </nav>
  </div>
</header>
<body>
  <%= yield %>
</body>
<footer>
  <p>&copy; DAC</p>

</footer>
</html>
