<!-- FORM FOR CUSTOMER TO ADD A NEW TRANX, FIND A WAY TO LIMIT TO 2 DECIMAL PLACES!! -->

<div class="new-text">


<h1>Enter a new transaction here</h1>

<p>Add your merchant name, where you have made your purchase.</p>

<p>Then add the transaction value, remember to keep on top of your spending be honest and be vigilant, NO ONE LIKES BANK CHARGES!!</p>

<p>Then select the category of your purchase, we find that most types of purchase are encompassed but if you want a new field drop us an email. *Coming Soon* create your own category</p>

</div>
<div class="new-form">

<form method="POST" action="/transactions">

  <label for="merchant_name">Merchant name</label>
  <input type="text" name="merchant_name" id="merchant_name"/>

  <label for="transaction_value">Value of transaction (£):</label>
  <input type="number" step="0.01" name="transaction_value" id="transaction_value"/>

  <label for="tag_id">Select transaction type</label>
  <select name="tag_id" id="tag_id">
    <% for tag in @tag %>
    <option value="<%= tag.id %>"><%=tag.tag_name%></option>
    <%end%>
  </select>

  <input type="submit" value="Enter Transaction" />

</form>

</div>
