<div class="tag">


<h1>Select a category, then click to filter</h1>

<h2>Find out what have you spend been spending your money on??</h2>

</div>


<div class="filter">


<form action="/transactions/filter_results" method="post">

  <label for="tag_id">Select transaction type:</label>
  <select name="tag_id" id="tag_id">
    <% for tag in @tag %>
    <option value="<%= tag.id %>"><%=tag.tag_name%></option>
    <%end%>
    <input type="submit" value="Click to filter" />

  </form>
</div>
