body {
  background-color: #DCDCDD;
  text-align: center;
  color: #F7F7F7;
  margin:0;
  padding:0;
}

.nav-bar li {
  list-style-type: none;
  display: inline-grid;
  justify-content: space-between;
  background-color: #DCDCDD;

}

.nav-bar li a{
  padding: 0 20px;
  text-decoration: none;
  font-size: 30px;
  color: #46494C;
  font-family: 'Spectral SC', serif;
  border-style: ridge;

}

.main {
  display: grid;
  background-color: grey;
  list-style-type: none;
}
.header {
  display:grid;
  background-color: #46494C;
  height:300px;
  border: 2px #46494C ridge;
}

.header img {
 border: 2px #DCDCDD ridge;
}

.container {
  display: grid;
  justify-content: center;
  color: #46494C;
}

.container th{
  border: 1px #4F7E8F solid;
  width:200px;
  height:50px;
  font-family: 'Spectral SC', serif;

}

.container td{
  border: 1px #4F7E8F solid;
  height: 30px;
  font-family: 'Karla', sans-serif;

}

.container a{
  text-decoration: none;
  background-color: #46494C;
  color: white;
  padding: 5px 10px;
  font-family: 'Karla', sans-serif;

}

footer {
  background-color: #C5C3C6;
  height: 40px;
  margin: 0;
  padding:0;
  display: grid;
  justify-content: flex-start;
  font-family: 'Spectral SC', serif;

}

.logo {
  margin-left: 500px;
  margin-top: 20px;
}

.index {
  color: #46494C;
  font-family: 'Karla', sans-serif;

}

.new-text h1{
  font-family: 'Spectral SC', serif;
  color: #46494C;

}

.new-text {
  font-family: 'Spectral SC', serif;
  font-size: 20px;
  color: #46494C;
}

.new-form {
  color: #46494C;
  font-size: 20px;
  padding-bottom: 20px;
  font-family: 'Karla', sans-serif;
}

input[type="text"], input[type="number"] {
  padding: 6px;
}

select {
  padding:10px;
}

.tag {
  color : #46494C;
  font-family: 'Spectral SC', serif;
}

.filter {
  color: #46494C;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.filter select{
  padding:10px;
}

.results-table {
  display: grid;
  justify-content: center;
  color: #46494C;
  margin-bottom: 15px;
}

.results-table th{
  border: 1px #4F7E8F solid;
  width:200px;
  height:50px;
  font-family: 'Spectral SC', serif;

}

.results-table td{
  border: 1px #4F7E8F solid;
  height: 30px;
  font-family: 'Karla', sans-serif;

}

.results-page {
  font-family: 'Spectral SC', serif;
  font-size: 20px;
  color: #46494C;

}

.show-page {
  display: grid;
  justify-content: center;
  color: #46494C;
  margin-bottom: 15px;
    padding-bottom: 30px;
}

.show-page th{
  border: 1px #4F7E8F solid;
  width:200px;
  height:50px;
  font-family: 'Spectral SC', serif;

}

.show-page td{
  border: 1px #4F7E8F solid;
  height: 30px;
  font-family: 'Karla', sans-serif;

}

.show-head {
  font-family: 'Spectral SC', serif;
  font-size: 20px;
  color: #46494C;
}

.tag-image {
  background-image: url("/money.jpg");
  color: rgba(220, 220, 221,0.5);
  height:150px;

}

.edit-head {
  font-family: 'Spectral SC', serif;
  font-size: 20px;
  color: #46494C;

}

.edit-form {
  color: #46494C;
  font-size: 20px;
  padding-bottom: 20px;
  font-family: 'Karla', sans-serif;
}

.home {
  font-family: 'Spectral SC', serif;
  font-size: 20px;
  color: #46494C;

}

.small-print {
  color:#4F7E8F;
  font-size: 10px;
}
